# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

/command
TEXTCMD.md

# Production
/build
/dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo

# Next.js
.next/
out/

# Misc
.DS_Store
Thumbs.db

# Ignore Google Cloud credentials
config/xevis-vision-api.json

# Other common files to ignore
node_modules/
.env





